<h3>homepage</h3>
<div class="me">
  <h1 class="me_heading">Hi, I am Ganesh.</h1>
  <p class="me_body">Web Developer and Competitive Programmer</p>
</div>

<img
  src="/image/hero_img.jpg"
  alt="moonlight"
  class="hero-image"
  width="990"
  height="600"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
